isaacgym*
.ipynb_checkpoints/
.vscode/
*img
*__pycache__*
fbx/
cmu_fbx_all/
*zip
*ipynb
npy
pkl
phc/

track_dataset/

*.log
*.onnx

debug.mp4

MUJOCO_LOG.TXT

for_joao/

data_recorded/

PythonClient/

avp_teleoperate/

unitree_IL_lerobot/

retarget_lib/

body_models/

joao_data/

logs/